* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #121212;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
  padding: 20px;
  background-color: #1e1e1e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 800px;
  text-align: center;
  padding: 20px;
  padding-top: 120px;
  margin: auto;
  min-height: calc(100vh - 160px);
}

h1 {
  font-size: 2rem;
  color: #ffcc00;
}

nav menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  padding: 10px;
}

nav menu li {
  display: inline;
}

nav menu a {
  text-decoration: none;
  color: #ffcc00;
  font-weight: bold;
  transition: 0.3s;
}

nav menu a:hover {
  color: #ff9900;
  text-decoration: underline;
}

.picture-box {
  margin: 20px 0;
  padding: 10px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.picture-box img {
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

p {
  font-size: 1.1rem;
  color: #ccc;
  line-height: 1.6;
  background: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

footer {
  width: 100%;
  padding: 10px;
  background: #1e1e1e;
  margin-top: auto;
  text-align: center;
}

footer a {
  color: #ffcc00;
  text-decoration: none;
}

footer a:hover {
  color: #ff9900;
  text-decoration: underline;
}
